@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body {
    font-family: 'Sixtyfour';
    background-color: #953f00;

}
h1 {
    text-align: center;
    color:blue
}
nav ul{
    list-style-type: none;
    background-color: #026e31;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color: #06bf56;
}
img {
    text-align: center;
}
.text-center {
    text-align: center;
  }
  